---

---

<nav class="flex justify-center">
    <div class="nav-bar">
        <ul class="flex justify-center items-center gap-10 p-8 rounded bg-opacity-40 backdrop-blur shadow-md list-none" style="width: 1472px; background-color: rgba(254, 248, 248, 0.44);">
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Accueil</a></li>
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Concept</a></li>
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Tarifs</a></li>
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Partenaires</a></li>
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Formations</a></li>
            <li><a href="#" class="text-center text-black font-extrabold no-underline" style="text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56); font-size: 18px;">Contact</a></li>
        </ul>
    </div>
</nav>



