---

---

<nav>
    <div class="nav-bar">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Concept</a></li>
            <li><a href="#">Tarifs</a></li>
            <li><a href="#">Partenaires</a></li>
            <li><a href="#">Formations</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

<style>
    
    nav div ul li a {
        text-decoration: none;
        color: var(--Noir-Cherry-Mat, #020202);
        text-align: center;
        text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56);
        font-family: "Exo 2";
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav div ul {
        display: flex;
        width: 1472px;
        padding: 31px 15px;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-radius: 10px;
        background: var(--Pour-Dgrad, rgba(254, 248, 248, 0.44));
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        list-style-type: none;
    }

    nav div ul li {
        text-decoration: none;
    }

    .nav-bar {
        z-index: 1;
    }

  
</style>
