---

---

<section class="w-[962px] h-[504px] px-[125px] flex-col justify-center items-start gap-[11px] inline-flex">
    <div class="w-[870px] h-[401px] py-[5px] flex-col justify-center items-start gap-2.5 inline-flex"> 
        <img class="w-24 h-24" src="../../public/attachments/logo.png" />
        <h1 class="text-center text-black font-normal m-0 text-7xl" style="font-family: 'Exo 2';">LA SOLUTION</h1>
        <h1 class="text-center text-black font-normal m-0 text-7xl" style="font-family: 'Exo 2';">WEEMAKE</h1>
        <h2 class="text-center text-black font-normal m-0 text-5xl" style="font-family: 'Exo 2';">Créez des interfaces de saisie en toute simplicité</h2>
    </div>
    <div class="btn-hero"></div>
</div>

<div class="flex items-start gap-10 z-10" style="flex-shrink: 0;">
    <img class="absolute w-[911.017px] h-[911.424px] right-[-177px] top-1" src="../../public/attachments/logo blanc.png" />
</div>
</section>