---

---

<section class="frame-block">
    <div class="block-div">
        <img class="logo-simple"  src="../../public/attachments/logo.png" />
        <h1>LA SOLUTION</h1>
        <h1>WEEMAKE</h1>
        <h2>Créez des interfaces de saisie en toute simplicité</h2>
    </div>
</section>

<div class="logo-blanc">
    <img class="logo-b"  src="../../public/attachments/logo blanc.png" />
</div>

<style>
    .frame-block{
        display: flex;
        width: 995px;
        padding: 10px 125px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px; 
    }

    .block-div {
        display: flex;
        width: 870px;
        padding: 5px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px; 
    }

    h1 {
    color: #000;
    text-align: center;
    font-family: "Exo 2";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px; 
    margin-top: 0px;
    }

    h2 {
    color: #000;
    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 0px; 
    margin-top: 0px;    
    }

    .logo-simple {
        width: 97px;
        height: 97px; 
    }

    .logo-blanc {
        display: flex;
          
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0; 
        z-index: 2;
    }

    .logo-b {
        right: -177px;
        top: 1px; 
        position: absolute;
        flex-shrink: 0; 
        stroke-width: 1px; 
        width: 911.017px;
        height: 911.424px; 

    }

    
        
    
</style>