---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Hero from "../components/Hero.astro";

interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<html lang="fr">
    <head>
        <meta name="description" content={description} />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <Header client:load />
        <Hero />
        <slot />
        <Footer />
    </body>
</html>



<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
    :root {
        background: #fefcf7;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal; 
        width: 1728px;
        height: 899.013px;
        flex-shrink: 0; 
        background: linear-gradient(90deg, rgba(112, 179, 193, 0.20) 0%, rgba(22, 183, 141, 0.20) 27%, rgba(137, 97, 253, 0.20) 61%, rgba(204, 164, 59, 0.20) 100%);
    
    
    }

    
   
</style>